<!DOCTYPE html>
<html>
  <%- include('../.././layout/head') %>
  <body>
    <% if (newBook) { %>
      <div class="new-alert">Your Book Has Been Added</div>
    <% } %>
   
    <ul>
    
      <li>
        <img src="<%=book.image_url%>" alt="" class="logo" />
        <p>Title is: <%=book.title %></p>
        <p>Author is: <%=book.author %></p>
        <p>Isbn is: <%=book.isbn %></p>
        <p>Description is: <%=book.description %></p>
    
      </li>
 
    </ul>

    <div>
      <a href="/edit/<%= book.id %>">Edit Details</a>
      <form action="/books/<%= book.id %>" method="POST" class="hidden-form">
        <input type="hidden" name="_method" value="DELETE" />
        <button>Delete the Book</button>
      </form>
    </div>
   
  </body>
</html>
