<!DOCTYPE html>
<html>
<head>
 <title>SHOW LIST</title>
 <link rel="stylesheet" type="text/css" href="styles/layout.css">
</head>
<body>
    <ul>
       <% data.forEach(book=>{ %> 
    
    <li>
        <img src="<%=book.image_url%>" alt="" class="logo">
        <p>Title is: <%=book.title %></p> 
        <p>Author is: <%=book.author %></p>
        <p>Isbn is: <%=book.isbn %></p>
        <p>Description is: <%=book.description %></p>  
    </li>


   <button type="button" class="formbutton">form</button> 

   <form class='form1'>

 
  <label>Enter a title 
    <input type='' name='enterkey'>
  </label>
  <label>Enter a author
    <input type='text' name='enterkey'>
  </label>
  <label>Enter a url
    <input type='text' name='enterkey'>
  </label>
  <label>description
    <input type='text' name='enterkey'>
  </label>
  <button>Submit</button>
</form>

  <%  }) %>
    </ul>


</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script  src="/app.js"></script>
</html>