<!DOCTYPE html>
<html>

  <head>
      <link rel="stylesheet" type="text/css" href="/styles/layout.css">
  </head>

<body>
    <%- include('../.././layout/header') %>
    <ul>
       <% data.forEach((book,uid)=>{ %> 
    
    <li>
      <div class="container-xl">
        <img src="<%=book.image_url%>" alt="" class="logo">
        <p>Title is: <%=book.title %></p> 
        <p>Author is: <%=book.author %></p>
        <p>Isbn is: <%=book.isbn %></p>

        <p>Description is: <%=book.description %></p>  
  

   <button  type="button" class="formbutton " data-id="<%=uid%>">Add</button> 

   <form class="form1"  id="replycomment-<%=uid %>" action="/books" method="POST" >
    
    <label>Title
        <input type='text' name='title' value="">
       </label>
  <label> Author
    <input type='text' name='author' value="">
  <label>
  
<label>Isbn
  <input type='text' name='isbn' value="">
</label>URL
    <input type='text' name='image_url' value="">
  </label>
  
  <label>Description
    <input type='text' name='description' value="">
  </label>



  <button type="submit">save</button>

</form>

</li>
  <%  }) %>
    </ul>



    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/app.js"></script>

</body>

</html>