<!DOCTYPE html>
<html>

  <head>
      <link rel="stylesheet" type="text/css" href="/styles/layout.css">
  </head>

<body>
    <%- include('../.././layout/header') %>
    <ul>
       <% data.forEach(book=>{ %> 
    
    <li>
      <div class="container-xl">
        <img src="<%=book.image_url%>" alt="" class="logo">
        <p>Title is: <%=book.title %></p> 
        <p>Author is: <%=book.author %></p>
        <p>Isbn is: <%=book.isbn %></p>

        <p>Description is: <%=book.description %></p>  
  
   <button type="button" class="formbutton">Add</button> 
   <div class="container-l">
   <form class="form1" action="/books" method="POST">
      <div class="center title">Edit book information:</div>
      <input class="edit-field" type='text' name='title' value="" placeholder="Title">
      <input class="edit-field" type='text' name='author' value="" placeholder="Author">
      <input class="edit-field" type='text' name='isbn' value="" placeholder="ISBN">
      <input class="edit-field" type='text' name='image_url' value="" placeholder="URL">
      <input class="edit-field" type='text' name='description' value="" placeholder="Description">
  </div>

  <button type="submit">save</button>

</form>

</li>
  <%  }) %>
    </ul>





    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/app.js"></script>

</body>

</html>