<!DOCTYPE html>
<html>
  <%- include('../.././layout/head') %>
  <body>
   
    <ul>
    
      <li>
        <img src="<%=data.image_url%>" alt="" class="logo" />
        <p>Title is: <%=data.title %></p>
        <p>Author is: <%=data.author %></p>
        <p>Isbn is: <%=data.isbn %></p>
        <p>Description is: <%=data.description %></p>
      </li>
 
    </ul>
   
  </body>
</html>
