

<!DOCTYPE html>
<html lang="en">
    <%- include('.././layout/head') %>
<body>
    <%- include('.././layout/header') %>
  <div class="instruction">Edit Book Information</div>
  <div class="container-l">
  <div class="form-group">
  <form method="POST" action="/update/<%= data.id %>">
    <div class="center title">Edit book information:</div>
    <input class="edit-field" type='text' name='title' placeholder="Title">
    <input class="edit-field" type='text' name='author' placeholder="Author">
    <input class="edit-field" type='text' name='isbn' placeholder="ISBN">
    <input class="edit-field" type='text' name='image_url' placeholder="URL">
    <textarea type="text" class="change" name="description"><%= data.description %></textarea>       
    </div>
    <div class="form-group">
      <button class="addbutton" type="submit">Update Book</button>
    </div>
  </form>
  </div>
  <%- include('.././layout/footer') %>
</body>
</html>