<!DOCTYPE html>
<html>
  <%- include('.././layout/head') %>
  <body>
      <%- include('.././layout/header') %>
    <div class="instruction">Search Results</div>
    <ul>
      <% bookshelf.forEach(book=>{ %>
      <li>
        <img src="<%=book.image_url%>" alt="" class="logo" />
        <p>Title is: <%=book.title %></p>
        <p>Author is: <%=book.author %></p>
        <p>Isbn is: <%=book.isbn %></p>
        <p>Description is: <%=book.description %></p>
        <div class="book-button"><a href="/books/<%= book.id %>">View Details</a></div>
      </li>
      <% }) %>
    
  
    </ul>
    <%- include('.././layout/footer') %>
  </body>
</html>
