<!DOCTYPE html>
<html>
  <%- include('.././layout/head') %>
  <body>
    <%- include('.././layout/header') %>
      <div class="instruction">Search Results</div>
        <ul>
          <% bookshelf.forEach(book=>{ %>
            <li>
              <div class="container-xl">
              <img src="<%=book.image_url%>" alt="" class="logo" />
              <p class="title">Title is: <%=book.title %></p>
              <p class="author">Author is: <%=book.author %></p>
              <p>Isbn is: <%=book.isbn %></p>
              <p class="description">Description is: <%=book.description %></p>
              <div class="bump"><a class="title" href="/books/<%= book.id %>">View Details</a></div>
            </div>
            </li>
          <% }) %>      
        </ul>
      <%- include('.././layout/footer') %>
      <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/public/menu.js"></script>
  </body>
</html>
