<!DOCTYPE html>
<html>
<head>
 <title>SHOW LIST</title>
</head>
<body>
    <ul>
       <% data.forEach(book=>{ %> 
    
    <li>
        <p>Title is: <%=book.title %></p> 
        <p>Author is: <%=book.author %></p>
        <p>Isbn is: <%=book.isbn %></p>
        <p>Description is: <%=book.description %></p>
        <img src="<%=book.image_url%>" alt="" class="logo">
    </li>
  <%  }) %>
    </ul>


</body>
</html>